aula12/flows.json
[{"id":"b2dbe033e9f2be10","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"ad8add08a16468eb","type":"inject","z":"b2dbe033e9f2be10","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Texto qualquer","payloadType":"str","x":140,"y":140,"wires":[["a3f5b50cdefc3627"]]},{"id":"a3f5b50cdefc3627","type":"watson-text-to-speech","z":"b2dbe033e9f2be10","name":"","lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"pt-BR_IsabelaV3Voice","voicehidden":"","format":"audio/wav","password":"","apikey":"tiPyuFm_6ehVC2bhaJwC77bEtPyJjw4SEEy7Dx9R9QQA","payload-response":false,"service-endpoint":"https://api.us-south.text-to-speech.watson.cloud.ibm.com/instances/ebbfd271-cbb5-417e-b4a6-7eb4bebf4b00","x":320,"y":220,"wires":[["fdf539e706b456ce"]]},{"id":"fdf539e706b456ce","type":"play audio","z":"b2dbe033e9f2be10","name":"","voice":"13","x":510,"y":140,"wires":[]},{"id":"5087f57ff211fbd2","type":"microphone","z":"b2dbe033e9f2be10","name":"","x":130,"y":400,"wires":[["8cef893ffa39c7c5"]]},{"id":"8cef893ffa39c7c5","type":"watson-speech-to-text","z":"b2dbe033e9f2be10","name":"","alternatives":1,"speakerlabels":true,"smartformatting":false,"lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"KSD_NWFwdb9wDlYYgjB7A6KiHao2EUNAwe6YxHtDAt69","payload-response":true,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"https://api.us-south.speech-to-text.watson.cloud.ibm.com/instances/344219cd-5c26-4da5-97e4-26abb8798a20","x":320,"y":460,"wires":[["b4b04be2603c327c"]]},{"id":"79b0723f29fb23f9","type":"fileinject","z":"b2dbe033e9f2be10","name":"","x":120,"y":500,"wires":[["8cef893ffa39c7c5"]]},{"id":"b4b04be2603c327c","type":"debug","z":"b2dbe033e9f2be10","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":530,"y":460,"wires":[]},{"id":"05bd187cb5728cd1","type":"microphone","z":"b2dbe033e9f2be10","name":"","x":130,"y":620,"wires":[["e33ede3a422005f2"]]},{"id":"e33ede3a422005f2","type":"watson-speech-to-text","z":"b2dbe033e9f2be10","name":"","alternatives":1,"speakerlabels":true,"smartformatting":false,"lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"KSD_NWFwdb9wDlYYgjB7A6KiHao2EUNAwe6YxHtDAt69","payload-response":true,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"https://api.us-south.speech-to-text.watson.cloud.ibm.com/instances/344219cd-5c26-4da5-97e4-26abb8798a20","x":320,"y":680,"wires":[["b46e5ec9bd36ebe2","25faa640ec68fbf8"]]},{"id":"66ffe33a55bddd2d","type":"fileinject","z":"b2dbe033e9f2be10","name":"","x":120,"y":720,"wires":[["e33ede3a422005f2"]]},{"id":"b46e5ec9bd36ebe2","type":"debug","z":"b2dbe033e9f2be10","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":530,"y":680,"wires":[]},{"id":"25faa640ec68fbf8","type":"cloudant out","z":"b2dbe033e9f2be10","name":"","cloudant":"b694cb5eae2f6741","database":"lucas-speech-to-text","service":"_ext_","payonly":false,"operation":"insert","x":580,"y":780,"wires":[]},{"id":"b694cb5eae2f6741","type":"cloudant","host":"https://apikey-v2-xqmwqcwxzw39a34csad7x4mhe9k08798uohg4ihq9o7:40f8a5b2dea8e8dd04aee009c2247092@bbd3c0ee-d0c8-455b-bbd3-8d6d996c2c0a-bluemix.cloudantnosqldb.appdomain.cloud","name":""}]