aula14/flows.json
[{"id":"b2dbe033e9f2be10","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"37b28e702e8eb0cb","type":"ibmiot in","z":"b2dbe033e9f2be10","authentication":"apiKey","apiKey":"75feac27f6fb8ec1","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"yl692022","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":false,"qos":0,"x":130,"y":160,"wires":[["cd7c2c44347ad31e","52637808b97c2a3a"]]},{"id":"1b9beb62331217ab","type":"debug","z":"b2dbe033e9f2be10","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.d.umidade","targetType":"msg","statusVal":"","statusType":"auto","x":510,"y":80,"wires":[]},{"id":"d2fa4e2a4067b4b2","type":"cloudant out","z":"b2dbe033e9f2be10","name":"","cloudant":"b694cb5eae2f6741","database":"lucas-yl69","service":"_ext_","payonly":true,"operation":"insert","x":470,"y":120,"wires":[]},{"id":"cd7c2c44347ad31e","type":"delay","z":"b2dbe033e9f2be10","name":"","pauseType":"rate","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":280,"y":100,"wires":[["1b9beb62331217ab","d2fa4e2a4067b4b2"]]},{"id":"dc2ad5a79526c6c0","type":"ui_gauge","z":"b2dbe033e9f2be10","name":"","group":"28804005642ff438","order":1,"width":0,"height":0,"gtype":"gage","title":"Umidade","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":380,"y":220,"wires":[]},{"id":"52637808b97c2a3a","type":"json","z":"b2dbe033e9f2be10","name":"","property":"payload.d.umidade","action":"","pretty":false,"x":230,"y":280,"wires":[["dc2ad5a79526c6c0"]]},{"id":"75feac27f6fb8ec1","type":"ibmiot","name":"","keepalive":"60","serverName":"m90ppv.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"b694cb5eae2f6741","type":"cloudant","host":"https://apikey-v2-xqmwqcwxzw39a34csad7x4mhe9k08798uohg4ihq9o7:40f8a5b2dea8e8dd04aee009c2247092@bbd3c0ee-d0c8-455b-bbd3-8d6d996c2c0a-bluemix.cloudantnosqldb.appdomain.cloud","name":""},{"id":"28804005642ff438","type":"ui_group","name":"Default","tab":"18f4d903bffb9ee6","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"18f4d903bffb9ee6","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]