aula11/pessoa/flows node-red.json
[{"id":"b2dbe033e9f2be10","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"0671b0f104ba2787","type":"cloudant out","z":"b2dbe033e9f2be10","name":"","cloudant":"5fb1da4aa36e34a2","database":"lucas-donatti","service":"_ext_","payonly":true,"operation":"insert","x":310,"y":340,"wires":[]},{"id":"314e38977ce6eb7e","type":"http in","z":"b2dbe033e9f2be10","name":"","url":"/pessoa","method":"post","upload":false,"swaggerDoc":"","x":130,"y":260,"wires":[["f734266be73ccfa9","0938c915260ee67c","0671b0f104ba2787"]]},{"id":"f734266be73ccfa9","type":"http response","z":"b2dbe033e9f2be10","name":"","statusCode":"","headers":{},"x":290,"y":220,"wires":[]},{"id":"0938c915260ee67c","type":"debug","z":"b2dbe033e9f2be10","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":330,"y":280,"wires":[]},{"id":"c2edef63f0d04360","type":"http in","z":"b2dbe033e9f2be10","name":"","url":"/pessoa","method":"get","upload":false,"swaggerDoc":"","x":130,"y":500,"wires":[["776d0ea63cf6fea2"]]},{"id":"81459538034f190f","type":"http response","z":"b2dbe033e9f2be10","name":"","statusCode":"","headers":{},"x":490,"y":500,"wires":[]},{"id":"004eb78b8cbb9ba4","type":"debug","z":"b2dbe033e9f2be10","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":430,"y":560,"wires":[]},{"id":"776d0ea63cf6fea2","type":"cloudant in","z":"b2dbe033e9f2be10","name":"","cloudant":"5fb1da4aa36e34a2","database":"lucas-donatti","service":"_ext_","search":"_all_","design":"","index":"","x":310,"y":500,"wires":[["81459538034f190f","004eb78b8cbb9ba4"]]},{"id":"71e42c82927f103a","type":"cloudant out","z":"b2dbe033e9f2be10","name":"","cloudant":"5fb1da4aa36e34a2","database":"lucas-donatti","service":"_ext_","payonly":true,"operation":"delete","x":350,"y":800,"wires":[]},{"id":"cae522883e82a861","type":"http in","z":"b2dbe033e9f2be10","name":"","url":"/pessoa","method":"delete","upload":false,"swaggerDoc":"","x":140,"y":720,"wires":[["b61e5018455767a1","4a491177881e1d03","71e42c82927f103a"]]},{"id":"b61e5018455767a1","type":"http response","z":"b2dbe033e9f2be10","name":"","statusCode":"","headers":{},"x":330,"y":680,"wires":[]},{"id":"4a491177881e1d03","type":"debug","z":"b2dbe033e9f2be10","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":350,"y":740,"wires":[]},{"id":"fcc74bbb88450514","type":"cloudant out","z":"b2dbe033e9f2be10","name":"","cloudant":"5fb1da4aa36e34a2","database":"lucas-donatti","service":"_ext_","payonly":true,"operation":"insert","x":330,"y":1020,"wires":[]},{"id":"709dc02eeba0a099","type":"http in","z":"b2dbe033e9f2be10","name":"","url":"/pessoa","method":"put","upload":false,"swaggerDoc":"","x":110,"y":940,"wires":[["bc2ce59f170452b8","6f54c6c2dab413a0","fcc74bbb88450514"]]},{"id":"bc2ce59f170452b8","type":"http response","z":"b2dbe033e9f2be10","name":"","statusCode":"","headers":{},"x":310,"y":900,"wires":[]},{"id":"6f54c6c2dab413a0","type":"debug","z":"b2dbe033e9f2be10","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":330,"y":960,"wires":[]},{"id":"5fb1da4aa36e34a2","type":"cloudant","host":"https://apikey-v2-akx71lgvq1iy934x58gwgc80gmpgv1iqo3z42vgns2z:0473d16a449294bf9d58bde95dbacda1@bbd3c0ee-d0c8-455b-bbd3-8d6d996c2c0a-bluemix.cloudantnosqldb.appdomain.cloud","name":""}]