aula11/carro/flows carro.json
[{"id":"b2dbe033e9f2be10","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"0671b0f104ba2787","type":"cloudant out","z":"b2dbe033e9f2be10","name":"","cloudant":"b694cb5eae2f6741","database":"lucas-donatti-carro","service":"_ext_","payonly":true,"operation":"insert","x":330,"y":480,"wires":[]},{"id":"314e38977ce6eb7e","type":"http in","z":"b2dbe033e9f2be10","name":"","url":"/carro","method":"post","upload":false,"swaggerDoc":"","x":130,"y":400,"wires":[["f734266be73ccfa9","0938c915260ee67c","0671b0f104ba2787"]]},{"id":"f734266be73ccfa9","type":"http response","z":"b2dbe033e9f2be10","name":"","statusCode":"","headers":{},"x":290,"y":360,"wires":[]},{"id":"0938c915260ee67c","type":"debug","z":"b2dbe033e9f2be10","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":330,"y":420,"wires":[]},{"id":"c2edef63f0d04360","type":"http in","z":"b2dbe033e9f2be10","name":"","url":"/carro","method":"get","upload":false,"swaggerDoc":"","x":100,"y":180,"wires":[["776d0ea63cf6fea2"]]},{"id":"81459538034f190f","type":"http response","z":"b2dbe033e9f2be10","name":"","statusCode":"","headers":{},"x":510,"y":180,"wires":[]},{"id":"004eb78b8cbb9ba4","type":"debug","z":"b2dbe033e9f2be10","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":410,"y":240,"wires":[]},{"id":"776d0ea63cf6fea2","type":"cloudant in","z":"b2dbe033e9f2be10","name":"","cloudant":"b694cb5eae2f6741","database":"lucas-donatti-carro","service":"_ext_","search":"_all_","design":"","index":"","x":310,"y":180,"wires":[["81459538034f190f","004eb78b8cbb9ba4"]]},{"id":"e3c420662107c544","type":"cloudant out","z":"b2dbe033e9f2be10","name":"","cloudant":"b694cb5eae2f6741","database":"lucas-donatti-carro","service":"_ext_","payonly":true,"operation":"insert","x":330,"y":700,"wires":[]},{"id":"e7e94c3e604531e1","type":"http in","z":"b2dbe033e9f2be10","name":"","url":"/carro","method":"put","upload":false,"swaggerDoc":"","x":120,"y":620,"wires":[["33261401d2c6bc8c","2d5c2fb0a208f0ca","e3c420662107c544"]]},{"id":"33261401d2c6bc8c","type":"http response","z":"b2dbe033e9f2be10","name":"","statusCode":"","headers":{},"x":290,"y":580,"wires":[]},{"id":"2d5c2fb0a208f0ca","type":"debug","z":"b2dbe033e9f2be10","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":330,"y":640,"wires":[]},{"id":"b694cb5eae2f6741","type":"cloudant","host":"https://apikey-v2-xqmwqcwxzw39a34csad7x4mhe9k08798uohg4ihq9o7:40f8a5b2dea8e8dd04aee009c2247092@bbd3c0ee-d0c8-455b-bbd3-8d6d996c2c0a-bluemix.cloudantnosqldb.appdomain.cloud","name":""}]